.titulos {
    color: #08800e;
    font-size: 250%;
    text-align: center;
}

.subtitulos {
    color: #080352;
    font-size: 150%;
}

a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

.menu a {
    color: #08800e; 
}

p {
    color: #7a1305 ;
  }

  footer {
      text-align: center;
  }

  footer ul li {
    list-style: none;
}