* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
}

#encabezado-club {
    background-color: #e6e9eaa6;
    height: 100px;
    padding: 0.5em 2em;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menu > li {
    margin-bottom: 0;
    text-transform: uppercase;
}

.menu > li > a:hover {
    color: rgb(14 12 12);
    border: 1px solid rgb(62 59 59);
    border-radius: 4px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: #555;
}

.copyright {
    font-size: 12px;
    margin-bottom: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    padding: 5px;
    display: block;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    margin: auto;
}

nav ul li {
    list-style: none;
    padding: 0.5em 1em;
}

footer {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#499bea+0,207ce5+100 */
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */


    border-top: 0.3em solid #dc3545;
    font-size: 1.2rem;
    height: 130px;
    width: 100%;
    padding: 0.625em 0.3125em;
}

.redeSociales li {
    list-style: none;
}

.redeSociales ul {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding: 0.625em 0.3125em;
}

footer img {
    margin: 0 2.5em;
}

.card-bebida {
    flex: 1 200px;
    margin: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

#zonas #mapa iframe {
    border: none;
    width: 100%;
}

.articulo {
    width: 50px;
    height: auto;
}